<html>
    <body>
        <h1>This page generates a custom data url.</h1>
        <p>
            <strong>This works only with Safari in iOS !</strong>
            </p>

        <a target="_blank" href="data:text/html;base64,{{vars.base64String}}">Generate Data Url</a>
    </body>
</html>